
body{
  background-image: url( background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header > img {
  width: 150px;
  margin: auto;
  padding-top: 100px;

}

header > h1{
  color: rgb(0, 255, 0);
  margin: auto;
  font-family: sans-serif;
}

nav{
  background-color: rgb(0 255 0);
  width: 900px;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
div{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: 630px;
  border-radius: 5px;
  margin: auto;

}
h4{
  margin-bottom: auto;
}
.importante{
  width: 900px;
  text-align: left;
  color: white;
  font-family: sans-serif;
  margin:auto;
}
.livello-batteria{
  width: 300px;
  background-color: rgb(255,140,0);
  height: 15px;
  border-radius: 5px;
}
.livello-batteria1{
  width: 500px;
  background-color: rgb(0 255 0);
  height: 15px;
  border-radius: 5px;
}
.livello-batteria2{
  width: 100px;
  background-color: rgb(220,20,60);
  height: 15px;
  border-radius: 5px;
}
